/* Global */
.container{
    margin-top: 20px;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

  .py-5{
    background-color:wheat;
  }

 .card{
    margin: 1%;
    box-shadow: 0 0.15rem 1.75rem 0 rgb(58 59 69 / 15%);
    padding: 1em;
 }

 .card:hover{
   mix-blend-mode: darken;
 }

 .mt-auto{
     align-items: center;
 }

 img.navbar-brand{
    width: 10em;
 }

 label img.navbar-brand{
    width: 1em;
 }

 button.borrar{
     width: 3em;

 }

 button img{
    width: 1.5em;
 }

 div.text-center h1{
     font-size: 0.9em;
     font-variant-caps: all-small-caps;
 }

 div.mas-pelis{
    width: 100%;
    text-align-last: center;
    margin-top: 4em;

 }

 div.mas-pelis button{
    border-radius: 2em;
    font-size: 1.5em;
    width: 2em;
    height: 2em;
    line-height: normal;
 }

 div.cargando{
    width: 100%;
    text-align-last: center;
    font-variant-caps: all-small-caps;
 }

 div.title_catego{
   width: 100%;
   text-align-last: center;
   contain: paint;

 }

 div.title_catego h3{
   font-size: 1.75rem;
   font-variant: all-petite-caps;
   font-weight: 200;
   outline: dotted;
   padding-bottom: 0.3em;
   font-weight: bold;
 }


 div.button_borrar{
   margin-bottom: 1em;
   writing-mode: vertical-rl;
 }

 div.navbusc{
   padding-top: 0.3125rem;
   padding-bottom: 0.3125rem;
   margin-right: 1rem;
   font-size: 1.25rem;
   text-decoration: none;
   white-space: nowrap;
   display: flex;
   width: 100%;
   justify-content: space-between;

 }

 div.navbusc .vista{
    margin-right: 5%;
    height: 1.5em;
    margin: 13%;

 }

 div.navbusc .imgbusc{
    margin-left: 28%;
}

/* Hover boton de lista */

div.lista div.h-100{
   width: 100%;
   display: flex;
   flex-direction: row;
   height: 26em;
}

div.lista img.card-img-top{
   width: auto;
}

div.lista div.button_borrar{
   margin-right: 1em;
}

div.imagenesnav{
   margin-right: 2%;
}

button.spinner span.spinner-border {
   width: 1rem;
   height: -0.8rem;
}

button.spinner{
   display: flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
    width: 20%;
}

div.div{
   width: auto;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
}

.btn-primary:disabled, .btn-primary.disabled {
   color: #ffff;
   background-color: slategrey;
   border-color: slategrey;
}

div.alert{
   justify-content: center;
}

div.row{
   width: 100%;
}

/* MEDIA QUERY PARA TABLET */

@media (min-width: 451px) and (max-width: 800px) {
   #menu-mobile{
     display: block;
   }
   .navbar-brand {
      margin-right: 0rem;
   }
   *, *::before, *::after {
      box-sizing:none;
  }
  .p-4 {
   padding: 0rem;
   align-self: center;
   padding: 0.5rem !important;
   }
   div.lista div.h-100 {
      width: 100%;
      height: 13em;
   }
   p{
      font-size: 45%;
   }

}

/* MEDIA QUERY PARA SMARTPHONE */

@media (min-width: 0px) and (max-width: 450px) {

   .navbar-brand {
   margin-right: 0rem;
   }
   div.lista div.h-100 {
      width: 100%;
      height: 10em;
   }
   p{
      font-size: 45%;
   }
   .p-4{
      padding: 0.5rem !important;
   }

   .h-100 {
      width: 72%;
  }

  div.title_catego h3 {
   font-size: 1.35rem;
  }
  div#root{
   width: fit-content;
  }
   

}